#playing-field{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    line-height: 100px;
    
}

body{
    margin: 0 auto;
}

#container-left{
    background-color: lightblue;
    display: inline-block;
    width: 60%;
}

#container-right{
    background-color: lightcoral;
    width: 30%
}

.float-right{
    float: right;
}

.clear{
    clear: both;
    background-color: aquamarine;
}

.playing-card{
    background-color: yellow;
    font-size: xx-large;
    width: 100px;
    height: 100px;
}

.bingo{
    box-sizing: border-box;
    background-image: url("/images/Logo-howest.jpg");
    background-size: cover;
    border: 3px solid greenyellow;
}

.darkness{
    box-sizing: border-box;
    background: black;
    border: 3px solid red;
}