#playing-field{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center;
    
    margin: 20px;

}

body{
    margin: 0 auto;
    background-color: #292831;
}

#container-left{
    background-color: #292831;
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    text-align: center;
    margin-left:20px;
}

#container-right{
    display: inline-block;
    box-sizing: border-box;
    background-color: #333f58;
    width: 30%;
    height: 80vh;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
    
}

.playing-card{
    background-color: #fbbbad;
    font-size: xx-large; 
    align-items: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.bingo{
    box-sizing: border-box;
    background-image: url("/images/Logo-howest.jpg");
    background-size: cover;
    border: 3px solid #a3cfbb;
}

.darkness{
    box-sizing: border-box;
    background: black;
    border: 3px solid #ee8695;
}

#game-stats{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#user-input-el{
    width: 60%;
    text-align: center;
}

#attempt-tracker{
    font-size: 30px;
    color: #4a7a96;
}