body{
    margin: 0 auto;
    background-color: #292831;
}

#container{
    height: 500px;
}

#playing-field{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center; 
    margin: 0 auto;
    margin-top: 20px;
    max-width: 700px;
}

.playing-card{
    background-color: #fbbbad;
    font-size: xx-large; 
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.pair-1-show{
    box-sizing: border-box;
    background-image: url("../images/Logo-howest.jpg");
    background-size: cover;
}

.pair-2-show{
    box-sizing: border-box;
    background-image: url("../images/ku.jpg");
    background-size: cover;
}

.pair-3-show{
    box-sizing: border-box;
    background-image: url("../images/Logo_VIVES.jpg");
    background-size: cover;
}

.pair-4-show{
    box-sizing: border-box;
    background-image: url("../images/av.png");
    background-size: cover;
}

.pair-5-show{
    box-sizing: border-box;
    background-image: url("../images/ug.png");
    background-size: cover;
}

.pair-6-show{
    box-sizing: border-box;
    background-image: url("../images/uh.jpg");
    background-size: cover;
}

.pair-7-show{
    box-sizing: border-box;
    background-image: url("../images/ul.png");
    background-size: cover;
}

.pair-8-show{
    box-sizing: border-box;
    background-image: url("../images/ubl.jpg");
    background-size: cover;
}

.pair-9-show{
    box-sizing: border-box;
    background-image: url("../images/ua.png");
    background-size: cover;
}

.pair-10-show{
    box-sizing: border-box;
    background-image: url("../images/ama.png");
    background-size: cover;
}

.pair-11-show{
    box-sizing: border-box;
    background-image: url("../images/ehb.png");
    background-size: cover;
}

.pair-12-show{
    box-sizing: border-box;
    background-image: url("../images/kdg.png");
    background-size: cover;
}

.match{
    border: 3px solid lightseagreen;
}

#new-game{
    margin: 0 auto;
}

.button{
    text-align: center;
}