body{
    background-color: #118ab2;
}

#playing-field > .playing-card{
    color: #073b4c;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: #ffd166;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playing-field{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    
}

#feedback{
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}